.color-picker-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-color-input {
  width: 80%;
  cursor: pointer;
  height: 2.625rem;
  background: none;
  cursor: pointer;
  border: none;
}

.custom-color-input:hover {
  transform: scale(1.05);
}


@media (max-width: 600px) {
  .color-picker-box{
    margin: 0;
  }

}
