.credits{
  background: rgba(30, 30, 47, 0.8);
  padding: 0.8rem;
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 31.25rem;
  width: 100%;
  position: relative;
  z-index: 1;
}

@media (max-width: 600px) {
  .credits{
    width: 90%;
    height: 7vh;
    text-align: center;
  }

  .credits p{
    font-size: 15px;
  }
}